<div class="col-md-3">
    <a href="/parking"> <button class="btn btn-info form-control  mt-2 mb-2"> Parking Management</button></a>
    <a href="/add"> <button class="btn btn-info form-control   mt-2 mb-2"> New Enter Management</button></a>
    <a href="/out"> <button class="btn btn-info form-control  mt-2 mb-2"> Vechile Out Management</button></a>



</div>
